# Default ignored files
/shelf/
/workspace.xml
/cmake-build-debug/
/cmake-build-debug-coverage/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
